@{
    ViewData["Title"] = "My Podcasts";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <p><a href="https://baconsale.com">Click Here to listen to the podcasts on baconsale.com</a>.</p>
</div>
